body, html {
    height: 100%;
}
body {
    background-image: url("../images/sven-mieke-zMgH-LXq0og-unsplash.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*opacity: 0.8;*/
    color: whitesmoke;

}
.jumbotron {
    opacity: 1;
}

#new-visit-header {
    text-align: center;
    color: whitesmoke;
}

.base-container {
    background: rgba(60, 60, 60, 0.8);
    align-self: center;
    padding-top: 3em;
    padding-bottom: 3em;
    border-radius: 10px;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#form-text {
    color: white;
    text-align: center;
    margin: auto;
}

.visit-form {
    margin: auto;

}

table {

}