{% extends "base.html" %}
{% from "main/_formhelpers.html" import render_field %}


{% block app_content %}
  <form id="form-text" class="col-lg-8" method="POST" novalidate>
    {{ form.csrf_token }}
    <div class="form-group col-lg-8 mx-lg-auto">
      {{ render_field(form.username, class='form-control form-control-lg') }}
    </div>
    <div class="form-group col-lg-8 mx-lg-auto">
      {{ render_field(form.email, class='form-control form-control-lg') }}
    </div>
    <div class="form-group col-lg-8 mx-lg-auto">
      {{ render_field(form.password, class='form-control form-control-lg') }}
    </div>
    <div class="form-group col-lg-8 mx-lg-auto">
      {{ render_field(form.password2, class='form-control form-control-lg') }}
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Wyślij">
  </form>
{% endblock app_content %}